@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

* {
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-thumb{
    background: #b3b3b3;
    border-radius: 8px;
}

body {
    margin: 0;
    background-color: #f5f5f5;
    font-size: 18px;
    font-family: 'Play',sans-serif;
}

header {
    height: 70px;
    background-color: #050909;
    position: fixed;
    width: 100%;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 24px;
}

header a{
    color: whitesmoke;
    text-decoration: none;
}

.page-container {
    min-height: 100vh;
    padding-top: 70px;
}

main {
    margin: 10px 10px 60px 220px;
    padding: 0px 25px;
}

aside {
    width: 190px;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom, #050909, #1d806e);
    padding-top: 10px;
    font-size: 20px;
}

aside a {
    display: block;
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 35px;
}

.logo {
    font-size: 26px;
}

 .logo2 {
     float: right;
     font-size: 16px;
     color: whitesmoke;
     padding-right: 20px;
 }

 .row-event {
     margin-top: 20px;
 }

 .row{
     overflow: auto;
 }

 [class^="col-"] {
     float: left;
     padding: 5px;
 }

.col-10{width: 10%}
.col-20{width: 20%}
.col-30{width: 30%}
.col-40{width: 40%}
.col-50{width: 50%}
.col-60{width: 60%}
.col-70{width: 70%}
.col-80{width: 80%}
.col-90{width: 90%}
.col-100{width: 100%}

 p{
     line-height: 170%;
     border-left: 6px solid #ff533d;
     padding-left: 10px;
 }

 .title {
     border-bottom: 4px solid #ff533d;
     margin-bottom: 5px;
     margin-top: 10px;
     display: inline-block;
 }

 .intro-video{
     display: block;
     max-height: 50vh;
     margin: 40px auto;
     max-width: 100%;
     border-radius: 8px;
 }

 .gallery {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     margin-top: 30px;
 }

 .gallery img {
     width: 200px;
     height: 200px;
     object-fit: cover;
     border-radius: 8px;
     /*border: 1px solid #53152a;*/
     transition: all 0.3s;
 }

 .gallery img:hover {
     transform: scale(1.5);
     transition: all 0.3s;
 }

 .event {
     padding: 0px 15px 15px 15px;
     background-color: #e1eae5;
     border-radius: 8px;
     border: 1px solid #ff533d;
     height: 350px;
     overflow-y: scroll;
 }

.contact {
    align:center;
}

footer {
    height: 60px;
    background-color: #1a7363;
    width: 100%;
    position: absolute;
    padding-right: 30px;
    font-size: 14px;
    color: whitesmoke;
}

.fl_left {
    float:left;
    border: none;
    padding-left: 210px;
}

.fl_right {
    float:right;
    border: none;
}

.equip {
    width: 200px;
    height: 200px;
    object-fit: cover;
    float: right;
    border-radius: 50px;
}

.equip:hover{
    transform: scale(1.15);
    transition: all 0.3s;
}

.contact-list {
    text-align: center;
    list-style: none;
    line-height: 150%;
}

.map {
    width: 100%;
    max-width: 750px;
    margin: auto;
}

.more {
    text-align: right;
}

.more a {
    color: #ff533d;
    text-decoration: none;
    outline: none;
}


#menu-btn {
    color: whitesmoke;
    position: absolute;
    right: 25px;
    display: none;
    top: 22px;
}

.show {
    display: block !important;
}

.centered{
   text-align: center;
}

.contact-form {
    background: linear-gradient(to bottom, #6a9991, whitesmoke);
    /*background-color: #86cdac;*/
    border-radius: 8px;
    border: 2px solid #023902;
    margin-bottom: 15px;
    max-width: 700px;
    padding: 5px 15px 30px 15px;
}

.contact-form input, .contact-form textarea, .contact-form select {
    display: block;
    width: 90%;
    margin: 15px auto 0px auto;
    resize: none;
    font-family: inherit;
    padding: 3px;
    font-size: 16px;

}

hr {
    background-color: #ff533d;
    height: 3px;
    border: none;
}

.gradient {
    background: linear-gradient(to bottom, #4e8575, whitesmoke);
}

.home {
    background: linear-gradient(to bottom, #98c1b9, whitesmoke);
}

.col-60 {
    border: 2px solid red;
    padding: 10px;
    margin-right: 20px;
    font-style: inherit;
    text-align: center;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    height: 100%;
}

.col-60 p {
    font-family: Play, sans-serif;
    border: none;
}

.col-30 {
    border: 2px solid red;
    text-align: center;
    padding: 10px;
    font-style: inherit;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    margin: auto;
    height: 1198px;
}

.col-30 img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: all 0.3s;
}

.col-30 img:hover{
    transform: scale(1.3);
    transition: all 0.3s;
}

.col-30 p {
    font-family: Play, sans-serif;
    border: none;
}


#col-100 {
    border: 2px solid red;
    padding: 20px;
    margin: 10px;
    font-style: inherit;
    text-align: center;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    height: 100%;
}

#col-100 p {
    font-family: Play, sans-serif;
    border: none;
}

#col-100 img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    height: 270px;
    padding: 10px;
}

#col-100 .liviu{
    width: 350px;
    height: 450px;
    float:right;
    object-fit: cover;
    border-radius: 50px;
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
    [class^="col-"] {
        width: 100%;
    }
    main {
        margin: 0px;
        padding: 10px 15px 20px 15px;
    }
    aside {
        display: none;
        height: auto;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 25px;
    }
    .gallery img{
        width: 130px;
        height: 130px;
    }
    #menu-btn{
        display: block;
    }
    .logo2{
        display: none;
    }
    .fl_left {
        padding-left: 15px;
    }
    .fl_right {
        display: none;
    }
    #col-100 .liviu{
        width: 100%;
    }
    #col-100 img {
        height: 100%;
    }
}
